body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}


.container {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background-color: black;


}

.backGround {
    position: relative;
    width: 100vw;
    background-image: url(images/OIP2.jpg);
    height: 50px;


}

.backGround2 {
    position: fixed;
    background-image: url(images/OIP2.jpg);
    bottom: 0;
    height: 50px;
    width: 100vw;

}

h1 {
    position: absolute;
    padding: 8px;
    margin-left: 350px;
    color: aliceblue;
    margin-top: 50px;
}

.connyImage {
    position: absolute;
    background-image: url(images/Conny3.png);
    margin-top: 50px;
    height: 400px;
    width: 300px;
    background-size: cover;
    margin-left: 20px;

}



h2 {
    position: absolute;
    color: aliceblue;
    margin-left: 400px;
    margin-top: 150px;
}

#text1 {

    color: aliceblue;
    position: absolute;
    margin-left: 450px;
    margin-top: 250px;
}

#text2 {

    color: aliceblue;
    position: absolute;
    margin-left: 500px;
    margin-top: 350px;
}

.listContainer {
    margin-top: 650px;
    position: absolute;
    color: aliceblue;

}

#text3 {
    color: azure;
    position: absolute;
    margin-left: 25px;
    margin-top: 475px;

}

.p {
    position: absolute;
    color: azure;
    margin-left: 25px;
    margin-top: 500px;
}